* {
	background-color: #EDEEF3;
	padding: 0px;
	margin: 0px;
	color: #101031;
}

/* Header Stuff */

.heading-ul {
	margin: 0;
	display: inline;
	padding: 27px 182px 22px 15px;
	background-color: white;
}

.heading-ul li {
	background-color: white;
	display: inline-block;
	list-style-type: none;
	padding: 19px 50px 0px 50px;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
}

ul li a {
	padding: 5px 11px;
	text-decoration: none;
	color: #101430;
	background-color: white;
	transition: 0.77s;
}

ul li a:hover {
	color: #00bef1;
} 

.active {
	border: 2px black solid;
}

#header-home {
	padding-left: 15.5%;
}

#header-about-us {
	padding-right: 115px;
}

#RF-logo {
	height: 55px;
	width: 82px;
	position: absolute;
	left: 620px;
	padding-top: 4px;
	background-color: white;
}

#RF-logo {
	-webkit-transition: all 1.2s ease-out;
	-moz-transition: all 1.2s ease-out;
	transition: all 1.2s ease-out;
}

#RF-logo:hover {
	transform: rotateY(720deg);
}

.spin {
	transform: rotateY(720deg);
}

.abc:hover {
	transform: rotateY(720deg);
}

#header-family {
	padding-left: 180px;
}

/* ===============
Welcome Animation 
================ */

#main-fly {
    background-color: #000011;
    margin-right: 0;
    width: 1350px;
    height: 585px;   

} 

 .flew {
	list-style: none;
	position: absolute;
	left: 50%;
	top: 38%;
	background: transparent;
	transform: translateX(-50%) translateY(-50%);
	
}

.flew li {
	display: inline-block;
	margin-right: 25px;
	font-family: Open Sans, Arial;
	font-weight: 400;
	font-size: 100px;
	opacity: 1;
	background: transparent;
	color: #1BABFE;
	transition: all 2s ease;
}

 .flew li:last-child {
	margin-right: 0;
}

.flew.hide li {
	opacity: 0;
}

.flew.hide li:nth-child(1) { transform: translateX(300px) translateY(150px); }
.flew.hide li:nth-child(2) { transform: translateX(-60px) translateY(-200px); }
.flew.hide li:nth-child(3) { transform: translateX(490px) translateY(70px); }
.flew.hide li:nth-child(4) { transform: translateX(430px) translateY(230px); }
.flew.hide li:nth-child(5) { transform: translateX(-420px) translateY(200px); }
.flew.hide li:nth-child(6) { transform: translateX(60px) translateY(-30px); }
.flew.hide li:nth-child(7) { transform: translateX(-440px) translateY(250px); }
.flew.hide li:nth-child(8) { transform: translateX(-360px) translateY(-200px); }


#rf-welcome {
	position: absolute;
	top: 400px;
	left: 42.2%;
	width: 230px;
	background: transparent;
	-webkit-transition: all 1.6s ease-out;
	-moz-transition: all 1.6s ease-out;
	transition: all 1.6s ease-out;
	-webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
   	-moz-animation-duration: 3s;
    -moz-animation-delay: 2s;
    -moz-animation-iteration-count: 1;
} 

#rf-welcome:hover {
	transform: rotateY(720deg);
}

/* hook */

#miner {
	margin-top: 30px;
	width: 200px;
	margin-left: 9%;
	transition: 0.65s;
}

#miner:hover {
	transform: scale(1.28);
}

#hook {
	width: 800px;
	position: absolute;
	font-size: 22px;
	margin-left: 32%;
	top: 730px;
	bottom: 400px;
	line-height: 40px;
	text-align: center;
	-webkit-animation-duration: 1.2s;
	-moz-animation-duration: 1.2s;
	animation-duration: 1.2s;
}

#Re {
	position: absolute;
	top: 885px;
	left: 497px;
}

.grow {
	transition: 0.65s;
}

.grow:hover {
	transform: scale(1.28)
}

.jad {
	background-color: black;
}

#RF-secondLogo {
	position: absolute;
	left: 607px;
	top: 867px;
	width: 120px;
}

#Fresh {
	position: absolute;
	top: 885px;
	left: 722px;
}

.clanName {
	position: absolute;
	left: 500px;
	top: 960px;
	font-size: 20px;
	display: none;
}

.clan-name-display {
	display: block;
}

#intro-body {
	color: #47474E;
	position: absolute;
	top: 1020px;
	font-family: arial;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}

/* Why join us */

#first-dbl-line {
	position: absolute;
	top: 1160px;
	left: 130px;
	height: 4.5px;
	width: 370px;
	border-top: solid 2px #B8B6C9;
	border-bottom: solid 2px #B8B6C9;
}

#why-join-us {
	position: absolute;
	top: 1140px;
	left: 560px;
	font-size: 40px;
	font-family: 'Fira Sans', sans-serif;
}

#second-dbl-line {
	position: absolute;
	top: 1160px;
	left: 850px;
	height: 4.5px;
	width: 370px;
	border-top: solid 2px #B8B6C9;
	border-bottom: solid 2px #B8B6C9;
}

#content {
	background-color: #B4B4B4;
	width: 500px;
	height: 400px;
	margin: 10px auto;
}

#stuff {
	margin-top: 400px;
}

#content {
	background-color: #B4B4B4;
	width: 500px;
	height: 505px;  /* 423 */
	margin: -20px auto 20px auto;
	border: 1px solid black
}

.main-text {
	width: 460px;
	padding: 20px;
	font-family: 'Rubik', sans-serif;	
	line-height: 26px;
	text-align: center;
	font-size: 17px;
	display: none;
	background: transparent;
}

.main-text:first-child {
	display: block;
} 

#Six-EU {
	width: 485px;
	margin-top: 40px;
	margin-left: -12px;
}

#twenty-one-online {
	width: 485px;
	margin-top: 40px;
	margin-left: -12px;
}

#third-EU {
	width: 250px;
	margin-top: 20px;
	margin-left: -12px;
}

#cir {
	position: absolute;
	left: 435px;
	top: 1777px;
	z-index: 4;
	width: 87px;
	background: transparent;
}

#circle {
	position: absolute;
	left: 425px;
	width: 500px;
}

.item-number {
	position: absolute;
	font-size: 30px;
	top: 1800px;
	left: 472px;
	z-index: 5;
	text-decoration: none;
	color: black;
	background: transparent;
}

.item-number:nth-child(2) {
	left: 668px;
}

.item-number:nth-child(3) {
	left: 865px;
}